.containerImg{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #464957; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0956d2; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 400px){  
  .imageData{
    height: 450;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

