/* ---------Main Container-------- */
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr 0;
  grid-column-gap: 6px;
  grid-row-gap: 3px;

  .container_lateral_menu{
    z-index: 3;
    grid-area: 1 / 1 / 4 / 2;
    background-color: #1e1f25;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    .container_icon_header{
      /* background-color: aqua; */
      width: 200px;
      height: 80px;


      .icon_header_grid{
        display: grid;
        grid-template-columns: 60px 140px;
        grid-template-rows: 80px;

        .iconsBack{
          grid-area: 1 / 1 / 2 / 2;
          background-color: blue;
          display: none;
          background-image: url(/images/mazdaLogoState1.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
        
        .iconFront{
          grid-area: 1 / 1 / 2 / 2;
          /* background-color: brown; */
          background-image: url(/images/mazdaLogoState2.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        .iconLateral{
          grid-area: 1 / 2 / 2 / 3;
          /* background-color: blueviolet; */
          background-image: url(/images/mazdaLogoState21.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }

    .container_content{
      margin-top: 15px;
      /* margin: 0px 20px; */
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      overflow: auto;
      white-space: nowrap; 
    }

    .arrowButtom{
      padding: 5px;
      border-radius: 50px;
      background-color: white;
      border: 1px solid rgb(216, 216, 216) ;
      width: 35px;
      height: 35px;
      position: fixed;
      left: 233px;
      top: 60px;
      cursor: pointer;
      display: flex;
      align-items: center;
      /* justify-content: center; */
      font-size: 21px;
    }
  }

  .container_header{
    z-index: 2;
    grid-area: 1 / 2 / 2 / 3;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;

    .searchBox{
      display: flex;
      align-items: center;
    }

    .contentOptions{
      display: flex;
      align-items: center;
      gap: 5px;
      padding-right: 10px;
    }
  }

  .container_body{
    z-index: 1;
    grid-area: 2 / 2 / 3 / 3;
    /* background-color: blueviolet; */

    .iframeContent{
      width: 100%;
      height: 93%;
    }
  }

  .container_footer{
    grid-area: 3 / 2 / 4 / 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 2;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .label_footer{
      color: dimgrey;
      margin-right: 30px;
    }
  }
}


/* Reusable classes */

.container_items{
  display: flex;
  cursor: pointer;
  align-items: center;

  &:hover{
    /* background-color: #464957; */
    border-radius: 5px;
  }
}

.content_icon{
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 5px;
}

.content_description_1{
  color: aliceblue;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0;
  /* padding-left: 5px; */
  /* display: none; */
}

.content_description_2{
  padding-left: 10px;
}

summary{
  list-style: none;
}

details{
  margin-left: 5px;
}

.sum1::before {
  content: '';
  background-image: url(/images/plus-solid.svg);
  filter: invert(100%);
  padding-left: 10px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
}


.content_description_1[open] .sum1::before {
  background-image: url(/images/minus-solid.svg);
}

.sum2::before {
  content: '';
  background-image: url(/images/plus-solid.svg);
  filter: invert(100%);
  padding-left: 10px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
}


.content_description_2[open] .sum2::before {
  background-image: url(/images/minus-solid.svg);
}

.DataLinks{
  display: flex;
  flex-direction: column;
  

  .Data{
    color: aliceblue;
    margin-left: 15px;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    /* pointer-events: none; */

    .fa-file-lines{
      margin-right: 5px;
      font-size: 10px;
      padding-left: 3px;
    }

    &:hover{
      background-color: aliceblue;
      color: black;
      filter: 0;
    }

    &:active{
      &:hover{
        background-color: aliceblue;
        color: black;
      }
    }
  }
}

/* ----------Estilos Scrollbar--------- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #464957; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0956d2; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}