/* ---------Main Container-------- */
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr 0;
  grid-column-gap: 6px;
  grid-row-gap: 3px;

  .container_lateral_menu{
    z-index: 3;
    grid-area: 1 / 1 / 4 / 2;
    background-color: #1e1f25;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container_icon_header{
      /* background-color: aqua; */
      width: 200px;
      height: 80px;


      .icon_header_grid{
        display: grid;
        grid-template-columns: 60px 140px;
        grid-template-rows: 80px;

        .iconsBack{
          grid-area: 1 / 1 / 2 / 2;
          background-color: blue;
          display: none;
          background-image: url(/images/mazdaLogoState1.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
        
        .iconFront{
          grid-area: 1 / 1 / 2 / 2;
          /* background-color: brown; */
          background-image: url(/images/mazdaLogoState2.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        .iconLateral{
          grid-area: 1 / 2 / 2 / 3;
          /* background-color: blueviolet; */
          background-image: url(/images/mazdaLogoState21.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }

    .container_content{
      margin-top: 10px;
      padding: 0 20px;
    }

    .arrowButtom{
      padding: 5px;
      border-radius: 50px;
      background-color: white;
      border: 1px solid rgb(216, 216, 216) ;
      width: 35px;
      height: 35px;
      position: fixed;
      left: 233px;
      top: 60px;
      cursor: pointer;
      display: flex;
      align-items: center;
      /* justify-content: center; */
      font-size: 21px;
    }
  }

  .container_header{
    z-index: 2;
    grid-area: 1 / 2 / 2 / 3;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;

    .searchBox{
      display: flex;
      align-items: center;
    }

    .contentOptions{
      display: flex;
      align-items: center;
      gap: 5px;
      padding-right: 10px;
    }
  }

  .container_body{
    z-index: 1;
    grid-area: 2 / 2 / 3 / 3;
    /* background-color: blueviolet; */

    .iframeContent{
      width: 100%;
      height: 93%;
    }
  }

  .container_footer{
    grid-area: 3 / 2 / 4 / 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .label_footer{
      color: dimgrey;
      margin-right: 30px;
    }
  }
}


/* Reusable classes */

.container_items{
  display: flex;
  cursor: pointer;

  &:hover{
    background-color: #464957;
    border-radius: 5px;
  }
}

.content_icon{
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 5px;
}

.content_description{
  color: aliceblue;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  /* display: none; */
  
}