*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
/* ---------Reset--------- */
body, html{
  margin: 0;
  height: 100%;
  overflow: hidden;
  /* background-color: blueviolet; */

  h1, h2, h3, p{
    margin: 0;
  }

  a{
    text-decoration: none;
  }
}

